<div class="row m-3">
  {{#each products}}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">

    <div id="{{this._id}}" class="card " style="max-width:100%;max-height:100%;">

      <div class="" style="position:relative">
        <button onclick="addToWishList('{{this._id}}')"
          style="z-index:4;	position:absolute;width:30px;	height:30px;	top:12px;	right:12px;	background-color:rgb(172, 172, 172);border-radius:50%;	text-align:center;	box-shadow: 2px 2px 3px #999;">
          <i class="fa fa-heart p-1 mt-1" aria-hidden="true"></i></button>
        <button onclick="share('{{this._id}}')"
          style="z-index:4;	position:absolute;	width:30px;	height:30px;	top:52px;	right:12px;	background-color:rgb(123, 147, 255);	color:#FFF;	border-radius:50%;	text-align:center;	box-shadow: 2px 2px 3px #999;">
          <i class="fa fa-share p-1 mt-1" aria-hidden="true"></i></button>
        <a href="/product/{{this._id}}" style="z-index:1;text-decoration: none;">
          <img class="card-img" style="padding:10px 25px;  height:14rem;" src="/productImages/{{this._id}}.png"
            alt="Card image cap">

        
        <div class="card-body pb-0" style=" height:auto;">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.description}}</p>
        </a>
      </div>   <div class="card-body pt-0" style=" height:auto;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: {{this.price}}</li>

            <li class="list-group-item pl-0 pr-0">
              <button onclick="addToCart('{{this._id}}')" class="text-primary float-left"><i class="fa fa-cart-plus p-1"
                  aria-hidden="true"></i> Add to Cart</button>
              <button onclick="buyNow('{{this._id}}')" class="text-primary float-right"> Buy Now</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  {{/each}}

</div>
<script>
function addToWishList(proId) {
    let hh = document.getElementById(proId)
    let h =hh.querySelector('.card div button i.fa.fa-heart')
    $.ajax({
      url: "/addToWishList/" + proId,
      type: 'get',
      success: (response) => {
        console.log(response)
        if (response.stat) {
          h.style.color = "red";
        }
        else {
          h.style.color = "white";
        }
      }
    })
  }

</script>