<style>th {
  color: #A1A1A1;
  font-size: 12px;
  font-weight: bold;
}
table.dataTable tbody tr {
     background:none; */
}

th,td {
  font-size: 14px; 
}

td .mobileSmall {
 
  font-size: 12px;
}
td .visible-xs{
  display: none;
}
@media only screen and (max-width: 420px) {
td .visible-xs{
  display: contents;
}
.hidden-xs-down{
  display: none;
}
th,td {
 width:100px;
  font-size: 14px; 
}
button{
  text-align:center ;
}
.ml-2,.mr-2{
  padding:2px 8px;
  margin:1px;
}
}
  
</style>
{{!#if list}}
<div class="container-fluid">
<table id="myTable" class="table table-striped table-dark mt-3">

  <tbody>
    {{#each list}}
    <tr id="{{this.product._id}}">
      <td class="hidden-xs-down">{{@index}}</td>
      <td>{{this.product.name}}<div class="visible-xs mobileSmall"><img style="width: 2.5rem; height:3rem;" src="/productImages/{{this.product._id}}.png"></div></td>
      <td class="hidden-xs-down"><img style="width: 2.5rem; height:3rem;" src="/productImages/{{this.product._id}}.png"></td>
      <td class="price">Rs.{{ this.product.price }}</td>
      <td class="hidden-xs-down"> <button  class="btn btn-danger" onclick="return confirm('Do you want to delete {{this.name}}') addToWishList('{{this.product._id}}')">Remove</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
  <hr><div class="float-right mr-5 pr-5 mt-3">
{{!else}}
<div class="m-5 p-5 text-center" style="font-size: 50px;">Wishlist seems to be Empty.<br> 
<a href="/" class="btn btn-primary">Continue Shopping</a></div>
</div>
{{!/if}}
<script>
 // $(document).ready( function () {
  //  $('#myTable').DataTable();
//} );
</script>